.bg-img {
  background-image: url(../src/assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.bg_faq {
  background-image: url(../src/assets/bg-faq.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-top {
  background-image: url(../src/assets/bg-top.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-about {
  background-image: url(../src/assets/bg-about.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-team {
  background-image: url(../src/assets/bg_team.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-gradient {
  background: linear-gradient(80.03deg, #6DD8D4 14.6%, #F389C0 32.28%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-1 {
  background: linear-gradient(90deg, #FD8CFB 0%, #FFD16B 100%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-gradient {
  background: linear-gradient(276.33deg, #FD8CFB 10.6%, #6DD8D4 102.65%);
}

.btn_gradient {
  background: linear-gradient(141.24deg, #464756 15%, rgba(168, 168, 173, 0) 50%, #464756 86%);
}

.bg-gradient {
  background: linear-gradient(64.83deg, #30304E 15%, #27283C 60%);
}

.bg_gradient {
  background: linear-gradient(276.04deg, #1C1D23 9.66%, #2A2B30 89.78%);
}

.bg-pager {
  background: linear-gradient(276.16deg, #3484FD -5.25%, #54BDCB 95.91%);
}

.bg-token {
  background: linear-gradient(274.78deg, #AB83FF -1.16%, #3458FD 99.62%);
}

.bg-whitepaper {
  background: linear-gradient(272.76deg, #FFBE9F -3.5%, #FF93FF 97.68%);
}

hr {
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
  height: 1.5px;
  border: 0;
}

.bg-blur {
  box-shadow: 0px -3px 0px 0px #FFFFFF33 inset;
  box-shadow: 0px 3px 0px 0px #FFFFFF33 inset;
  box-shadow: -3px 0px 0px 0px #FFFFFF33 inset;
  box-shadow: 3px 0px 0px 0px #FFFFFF33 inset;
  box-shadow: 0px 0px 3px 0px #FFFFFF33 inset;
  background: radial-gradient(54.8% 53% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%),
    radial-gradient(60% 51.57% at 50% 50%, #17B384 0%, rgba(23, 179, 132, 0) 100%),
    linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
    radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(2px);
}

.shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.h-450 {
  height: 450px;
}

.slick-slide {
  padding: 20px;
}

.slick-list {
  padding: -20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}